<layout name="layout/layout"/>
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3 class="text-success text-center">
            武汉学院失物招领（Lost And Found）平台
        </h3>
        <p>
            <img src="__PUBLIC__/images/remote.jpg" width="100%"/>
        </p>
        <p style="margin-top: 50px;">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <h3 style="display: inline"><b class="text-info">联系:</b></h3>
                <span><h3 style="margin-left: 50px" class="text-success"><b>k_1043@126.com</b></h3></span>
            </div>
        </p>
    </div>
    <div class="col-md-2"></div>
</div>