<layout name="layout/layout"/>
<link rel="stylesheet" href="__PUBLIC__/css/register.css">
<div class="container register-container">
<form action="__URL__/do_register">
<h3 class="text-danger text-center">注册</h3>
<div class="form-group">
    <label for="username">用户名</label>
    <input type="text" name="username" class="form-control" id="username" placeholder="username">
</div>
<div class="form-group">
    <label for="password">密码</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="password">
</div>
<div class="form-group">
    <label for="repassword">确认密码</label>
    <input type="password" name="repassword" class="form-control" id="repassword" placeholder="repassword">
</div>
<button type="button" class="btn btn-info btn" onclick="register.check()">注册</button>
<div class="require-login">
    <text class="text-primary">已有账号?</text>
    <empty name="Think.session.user.userId">
        <a href="{:U('User/login')}" class="btn btn-default">登录</a>
        <else/>
        <button type="button" class="btn btn-default" disabled>登录</button>
    </empty>
</div>
</form>
</div>
<script>
    var register = {
        check : function () {
            // 获取注册页面中的用户名和密码
            var username = $('input[name="username"]').val();
            var password = $('input[name="password"]').val();
            var repassword = $('input[name="repassword"]').val();

            if(!username) {
                dialog.error('用户名不能为空');
            }
            if(!password) {
                dialog.error('密码不能为空');
            }
            if(repassword!=password) {
                dialog.error('两次密码不一致');
            }

            var url = '/TPs/infoBoard/index.php?m=home&c=user&a=do_register';
            var data = {'username':username,'password':password};

            // 执行异步请求
            $.post(url,data,function(result){
                if(result.status == 0) {
                    return dialog.error(result.message);
                }
                if(result.status == 1) {
                    return dialog.success(result.message,'/TPs/infoBoard/index.php?m=home&c=user&a=login');
                }
            },'JSON')
        }
    };

</script>
